@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-yellow-100;
  }
  html, body {
	@apply bg-dust bg-cover
  }
  a {
	@apply text-yellow-100
  }
  a:hover {
	@apply text-yellow-500
  }
}
